<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{#if settings.title}}{{settings.title}}{{else}}{{settings.name}}{{/if}}</title>
</head>
<body>
<h1>{{#if settings.title}}{{settings.title}}{{else}}{{settings.name}}{{/if}}</h1>

<h2>Main Provisions of the Document</h2>
<p>{{settings.description}}</p>

<h3>List of Models</h3>
{{#each schemas}}
    <h4>{{@key}} - {{description}}</h4>
    <p>Current Version: {{version}}</p>
    <table border="1">
        <tr>
            <th>Property Name</th>
            <th>Type</th>
            <th>Description</th>
            <th>Required</th>
            <th>Example Value</th>
            <th>Version</th>
        </tr>
        {{#each properties}}
            <tr>
                <th>{{@key}}</th>
                <th>{{type}}</th>
                <th>{{description}}</th>
                <th>{{required}}</th>
                <th>{{exampleValue}}</th>
                <th>{{version}}</th>
            </tr>
        {{/each}}
    </table>
    <h4>JSON Example</h4>
    <pre>
{ {{#each properties}}
        "{{@key}}": {{{jsonFormatted exampleValue}}}{{#unless @last}},{{/unless}}{{/each}}
        }
</pre>
{{/each}}
</body>
</html>